body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #a3b18a;
  padding: 1rem;
}
header a {
  color: #344e41;
  text-decoration: none;
  font-size: 48px;
  font-family: 'Crimson Pro', serif;
  font-weight: bold;
}
